@import "tailwindcss";
@plugin "daisyui";

html {
    font-family: "Montserrat", cursive, sans-serif;
}

.img-fixed {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

body {
    background-image: url(./assets/triangle-mosaic.webp);
    background-repeat: repeat;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.logo-fixed {
    width: 80px;
    height: auto;
}